/* Styling for main */
.intro {
    display: flex;
    align-items: center; 
    padding: 5em 0;
}

/* Styling for web development intro content */
.web-dev-intro {
    padding: 2em;
    width: 50%; 
}

/* Adding typing animations for Web Dev heading */
.web-dev {
    border-right: 1px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 7s steps(19) infinite, cursor .10s step-end infinite alternate;
}

@keyframes cursor {
    100% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
        color: green;
    }
    50% {
        color: blue;
    }
    100% {
        width: 100%;
        color: red;
    }
}

.web-dev-intro h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 10px; /* Reduce margin */
}

.web-dev-intro p {
    font-weight: normal;
    font-size: 25px;
}

/* Styling for web development logo */
.web-dev-logo {
    padding: 2em;
    width: 50%; /* Adjust width */
    display: flex;
    justify-content: center; /* Center content horizontally */
}

.web-dev-logo img {
    max-width: 70%;
    height: auto;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}

.web-dev-logo img:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}