@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/* Primary color schemes for the page */
:root{
    --primary-color: black;
    --secondary-color: white;
}

/* Dark mode color scheme */
.light-mode{
    --primary-color: white;
    --secondary-color: black;
}

/* Styling for body */
body{
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px;
    font-family: 'Poppins';
    color: var(--secondary-color);
}

/* Styling for light mode image */
.modes img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Media Queries */

/* Tablet version media queries */
@media  screen and (max-width:1200px) {
    .menu{
        display: block;
    }
    .menu a{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .web-dev-intro h1 {
        font-size: 30px;
        margin: 50px 20px 0 100px;
    }
    .web-dev-intro p {
        font-size: 15px;
        margin: 50px 20px 0 100px;
    }
    .web-dev-logo {
        margin-left: 100px;
    }
    .web-dev-logo img{
        height: 209px;
        width: 213px;
    }
    .profile-picture img{
        height: 340px;
        width: 205px;
        margin: 150px 50px 100px 100px;
    }
    .about-me-content h1 {
        font-size: 30px;
        margin: 150px 50px 20px 20px;
    }
    .about-me-content p {
        font-size: 15px;
        margin: 0px 50px 10px 20px;
    }
    .skills-heading h1 {
        font-size: 40px;
        margin-bottom: 80px;
    }
    .skills-logo > div{
        height: 150px;
        width: 100px;
    }
    .skills-logo{
        margin: 0 20px;
    }
    .contact-heading h1{
        font-size: 30px;
    }
}

/* Phone version media queries */
@media  screen and (max-width:600px) {
    .hamburger{
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .menu{
        display: none;
    }
    
    .web-dev-intro h1 {
        margin: 350px 200px 0 100px;
    }
    .web-dev-intro p {
        margin: 50px 200px 0 100px;
    }
    .web-dev-logo {
        width: 100%;
        position: absolute;
        height: 100px;
        margin: 0px 200px 10px 110px;
    }
    .web-dev-logo img{
        max-width: none;
    }
    .intro{
        position: relative;
    }
    .about-me-content h1 {
        margin: 450px 150px 0 70px;
    }
    .about-me-content p {
        margin: 50px 150px 20px 70px;
    }
    .profile-picture {
        top: 0;
        height: auto;
        width: 100%;
        position: absolute;
        margin: 0 50px 10px 0;
    }
    .profile-picture img{
        max-width: none;
        height: 250px;
        width: 200px;
    }
    .about-me{
        position: relative;
    }
    .contact-heading h1, .send-button {
        margin-right: 100px;
        font-size: 20px;
    }
    .fname, .lname, .email, .message{
        width: 70%;
    }

    .footer-wrapper {
        margin: 0 10px 0 10px;
    }

    .social img{
        height: 30px;
        width: 30px;
    }
}